body {
  background-image: url("./img/pokedexBackground.webp");
  /* display: grid; */
}
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}
.pokeList {
  display: grid; 
  justify-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: 10% 10% 10% 10%;
  margin-top: 7%;
}
p{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: white;
  border: solid black 1pt;
  border-radius: 3%;
  
}
