@import url("https://fonts.cdnfonts.com/css/depixel");

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(252, 242, 242);
  width: 99vw;
  height: 98vh; 
}

@media only screen and (max-width: 400px) {
  body {
    background-color: lightblue;
    display: flex;
    width: 400px;
    height: 781px;
  }
  .pokeList {
    display: grid;
    grid-template-columns: auto auto;

  }

}
@media only screen and (min-width: 400px) {

}

.pokeList {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: auto;
  height: auto;
  margin-top: 5em;
  margin-bottom: 4em;
}
p.psychic,
p.grass,
p.fire,
p.water {
  background-color: white;
  border: solid black 1pt;
  border-radius: 3%;
  width: max-content;
  height: max-content;
  width: 120px;
  height: 141px;
  margin: 30px;
}

.btn.grass, .btn.fire, .btn.psychic, .btn.water, .showAllBtn{
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  margin-bottom: 5em;
}
.showAllLink{
  text-decoration: none;
}

p {
  margin: 0%;
  font-family: "DePixel", sans-serif;
  text-align: center;
}

.buttonsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
}
/* .mewto {
  display: none;
} */
.marlieHeader{
  font-family: "DePixel", sans-serif;
  text-align: center;
}

.pokeHeader{ 
  width: 99vw;
  background-color: #CC0000;
}

.btn{
  /* background: none; */
  box-sizing: none;
  outline: none;
  background-color: transparent;

}

.testing{
  background: none;
  border: none;
}

