body {
  display: grid;
}
.pokeList {
  display: grid;
  justify-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: 20% 20% 20%;
}
p{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
}
